* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  background: #000;
}

/* .box{
  height: 50px;
  width: 50px;
  background-color: blue;

  margin-bottom: 1rem;
} */

#app{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 8rem;
  line-height: 0.9;
  font-family: sans-serif;
  color: red;
}

span {
  display: inline-block;
}

.heading{
  overflow: hidden;
}